@font-face {
    font-family: entypo;
    src: url(entypo.woff);
}
html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);
}
#container {
    margin: 30px 0;
    padding: 0;
    font-size: 20px;
}
.publication-div {
    margin: 20px 0;
    transition: background-color 0.5s;
}
.publication-div:hover:not([class~=unhover]) {
    background-color: #FFF;
}
.publication-div:hover[class~=described]:not([class~=unhover]) {
    cursor: pointer;
}
.publication-content {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 800px; /* mandatory to be centered */
}
.publication-image {
    float: left;
    overflow: hidden;
    width: 85px;
    height: 85px;
}
.publication-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.publication-text {
    margin-left: 110px;
}
.publication-div .title-div {
    font-size: 35px;
    text-align: justify;
}
.authors-div {
    color: #192A40;
    font-size: 20px;
    margin-bottom: 2px;
    margin-right: 10px;
    display: inline-block;
}
.author-first-name {
    color: #737373;
}
.book-div {
    display: inline-block;
    margin-bottom: 2px;
    color: #737373;
}
.pub-link {
    padding: 1px 4px 2px 4px;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    vertical-align: middle;
    color: #889BCB;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.pub-link:hover {
    background-color: #E9EEFA;
    transition: background-color 0s;
    border-radius: 5px;
}
.pub-link .pub-link-content {
    position: relative;
    top: -1px;
}
.pub-link:active {
    background-color: #D5DFF7;
}
.pub-link .icon {
    font-family: entypo;
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: -4px;
    height: 16px;
}
.pub-link .label {
    margin-left: 4px;
    font-size: 15px;
}
.links-div {
    margin-left: -4px; /* compensate the first link padding */
}
.pub-descr {
    display: none;
    font-size: 18px;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 8px 10px 5px 100px;
    color: #272727;
}
.pub-descr-content p {
    margin: 0;
}