/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7614 2013-02-21 15:55:51Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/
  /* used to remove borders from tables and images */
  /* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/
  /* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs. */
.rst-descr div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

.rst-descr div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }


  /* reset inner alignment in figures */
  /* div.align-center * { */
  /*   text-align: left } */
  /* line numbers */
  /* "booktabs" style (no vertical lines) */

.rst-descr .borderless,
.rst-descr table.borderless td,
.rst-descr table.borderless th {
  border: 0;
}
.rst-descr table.borderless td,
.rst-descr table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important;
}
.rst-descr .first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important;
}
.rst-descr .last,
.rst-descr .with-subtitle {
  margin-bottom: 0 ! important;
}
.rst-descr .hidden {
  display: none;
}
.rst-descr a.toc-backref {
  text-decoration: none ;
  color: #000000;
}
.rst-descr blockquote.epigraph {
  margin: 2em 5em ;
}
.rst-descr dl.docutils dd {
  margin-bottom: 0.5em;
}
.rst-descr object[type="image/svg+xml"],
.rst-descr object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}
.rst-descr div.abstract {
  margin: 2em 5em;
}
.rst-descr div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center;
}
.rst-descr div.admonition,
.rst-descr div.attention,
.rst-descr div.caution,
.rst-descr div.danger,
.rst-descr div.error,
.rst-descr div.hint,
.rst-descr div.important,
.rst-descr div.note,
.rst-descr div.tip,
.rst-descr div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em;
}
.rst-descr div.admonition p.admonition-title,
.rst-descr div.hint p.admonition-title,
.rst-descr div.important p.admonition-title,
.rst-descr div.note p.admonition-title,
.rst-descr div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif;
}
.rst-descr div.attention p.admonition-title,
.rst-descr div.caution p.admonition-title,
.rst-descr div.danger p.admonition-title,
.rst-descr div.error p.admonition-title,
.rst-descr div.warning p.admonition-title,
.rst-descr .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif;
}
.rst-descr div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic;
}
.rst-descr div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal;
}
.rst-descr div.figure {
  margin-left: 2em ;
  margin-right: 2em;
}
.rst-descr div.footer,
.rst-descr div.header {
  clear: both;
  font-size: smaller;
}
.rst-descr div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em;
}
.rst-descr div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em;
}
.rst-descr div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right;
}
.rst-descr div.sidebar p.rubric {
  font-family: sans-serif;
  font-size: medium;
}
.rst-descr div.system-messages {
  margin: 5em;
}
.rst-descr div.system-messages h1 {
  color: #ff0000;
}
.rst-descr div.system-message {
  border: medium outset ;
  padding: 1em;
}
.rst-descr div.system-message p.system-message-title {
  color: red ;
  font-weight: bold;
}
.rst-descr div.topic {
  margin: 2em;
}
.rst-descr h1.section-subtitle,
.rst-descr h2.section-subtitle,
.rst-descr h3.section-subtitle,
.rst-descr h4.section-subtitle,
.rst-descr h5.section-subtitle,
.rst-descr h6.section-subtitle {
  margin-top: 0.4em;
}
.rst-descr h1.title {
  text-align: center;
}
.rst-descr h2.subtitle {
  text-align: center;
}
.rst-descr hr.docutils {
  width: 75%;
}
.rst-descr img.align-left,
.rst-descr .figure.align-left,
.rst-descr object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em;
}
.rst-descr img.align-right,
.rst-descr .figure.align-right,
.rst-descr object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em;
}
.rst-descr img.align-center,
.rst-descr .figure.align-center,
.rst-descr object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rst-descr .align-left {
  text-align: left;
}
.rst-descr .align-center {
  clear: both ;
  text-align: center;
}
.rst-descr .align-right {
  text-align: right;
}
.rst-descr div.align-right {
  text-align: inherit;
}
.rst-descr ol.simple,
.rst-descr ul.simple {
  margin-bottom: 1em;
}
.rst-descr ol.arabic {
  list-style: decimal;
}
.rst-descr ol.loweralpha {
  list-style: lower-alpha;
}
.rst-descr ol.upperalpha {
  list-style: upper-alpha;
}
.rst-descr ol.lowerroman {
  list-style: lower-roman;
}
.rst-descr ol.upperroman {
  list-style: upper-roman;
}
.rst-descr p.attribution {
  text-align: right ;
  margin-left: 50%;
}
.rst-descr p.caption {
  font-style: italic;
}
.rst-descr p.credits {
  font-style: italic ;
  font-size: smaller;
}
.rst-descr p.label {
  white-space: nowrap;
}
.rst-descr p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center;
}
.rst-descr p.sidebar-title {
  font-family: sans-serif;
  font-weight: bold ;
  font-size: larger;
}
.rst-descr p.sidebar-subtitle {
  font-family: sans-serif;
  font-weight: bold;
}
.rst-descr p.topic-title {
  font-weight: bold;
}
.rst-descr pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit;
}
.rst-descr pre.literal-block,
.rst-descr pre.doctest-block,
.rst-descr pre.math,
.rst-descr pre.code {
  margin-left: 2em ;
  margin-right: 2em;
}
.rst-descr pre.code .ln {
  color: grey;
}
.rst-descr pre.code,
.rst-descr code {
  background-color: #eeeeee;
}
.rst-descr pre.code .comment,
.rst-descr code .comment {
  color: #5c6576;
}
.rst-descr pre.code .keyword,
.rst-descr code .keyword {
  color: #3B0D06;
  font-weight: bold;
}
.rst-descr pre.code .literal.string,
.rst-descr code .literal.string {
  color: #0c5404;
}
.rst-descr pre.code .name.builtin,
.rst-descr code .name.builtin {
  color: #352b84;
}
.rst-descr pre.code .deleted,
.rst-descr code .deleted {
  background-color: #deb0a1;
}
.rst-descr pre.code .inserted,
.rst-descr code .inserted {
  background-color: #a3d289;
}
.rst-descr span.classifier {
  font-family: sans-serif;
  font-style: oblique;
}
.rst-descr span.classifier-delimiter {
  font-family: sans-serif;
  font-weight: bold;
}
.rst-descr span.interpreted {
  font-family: sans-serif;
}
.rst-descr span.option {
  white-space: nowrap;
}
.rst-descr span.pre {
  white-space: pre;
}
.rst-descr span.problematic {
  color: #ff0000;
}
.rst-descr span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80%;
}
.rst-descr table.citation {
  border-left: solid 1px gray;
  margin-left: 1px;
}
.rst-descr table.docinfo {
  margin: 2em 4em;
}
.rst-descr table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em;
}
.rst-descr table.footnote {
  border-left: solid 1px black;
  margin-left: 1px;
}
.rst-descr table.docutils td,
.rst-descr table.docutils th,
.rst-descr table.docinfo td,
.rst-descr table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top;
}
.rst-descr table.docutils th.field-name,
.rst-descr table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0;
}
.rst-descr table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
.rst-descr table.docutils.booktabs * {
  border: 0px;
}
.rst-descr table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}
.rst-descr h1 tt.docutils,
.rst-descr h2 tt.docutils,
.rst-descr h3 tt.docutils,
.rst-descr h4 tt.docutils,
.rst-descr h5 tt.docutils,
.rst-descr h6 tt.docutils {
  font-size: 100%;
}
.rst-descr ul.auto-toc {
  list-style-type: none;
}
