<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8">
<title>Publication's page</title>
{% block styles %}
    <link rel="stylesheet" type="text/css" href={{url_for('publipage.static', filename='publis.css') }}></link>
    <link rel="stylesheet" type="text/css" href={{url_for('publipage.static', filename='rst-descr.css') }}></link>
{% endblock %}

</head>

<body>

<div id="container">
	{% for publication in bibliography.publications %}
		<div class='publication-div {{loop.cycle("odd", "even")}} {% if publication.described %}described{% endif %}'
            id='pub-{{publication.id}}'>
			{% include 'publi.html' %}
		</div>
	{% endfor %}
</div>

<script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{url_for('publipage.static', filename='publis.js') }}"></script>

</body>
</html>