<div class='publication-content'>
    <div class='publication-image'>
    {%- if publication.image %}
        <img src="{{url_for('.get_image',
                            publication=publication.id,
                            ext=splitext(publication.image)[1][1:])}}" alt="Publication image" />
    {%- endif %}
    </div><div class='publication-text'>

        <div class='title-div'>{{publication.title}}</div>

        <div class='authors-div'>
            {%- for author in publication.authors %}
                <span class='author-span' title='{{author.full_names()}}'>{% if author.first_name %}<span class='author-first-name'>{{abbrev(author.first_name)}}</span> {% endif %}<span class='author-last-name'>{{author.last_name}}</span></span>
                {%- if loop.revindex == 2 %} and {% elif not loop.last %}, {% endif %}
            {%- endfor -%}
        </div>

        <div class='book-div'>({{publication.book}})</div>

        <div class='links-div'>
            {%- if publication.pdf%}
            <a class='pub-link pdf-link' href="{{url_for('.get_paper', publication=publication.id)}}"><span class='pub-link-content'><span class='icon'>&#59185;</span><span class='label'>paper</span></span></a>
            {%- endif %}
            <a class='pub-link bibtex-link' href="{{url_for('.get_bibtex', publication=publication.id)}}"><span class='pub-link-content'><span class='icon'>&#59256;</span><span class='label' style='font-variant: small-caps;font-size:13px;'>BibT<span style='position:relative;top:3px;margin-left:-1px;'>E</span><span style='margin-left:-1px;'>X</span></span></span></a>
        </div>

    </div>

    {%- if publication.description %}
        {%- if publication.description_encoding == "html" %}
        <div class='pub-descr'>
            <div class='pub-descr-content'>{{publication.description|safe}}</div>
        </div>
        {%- elif publication.description_encoding == "text" %}
        <div class='pub-descr'>
            <div class='pub-descr-content'>{{publication.description}}</div>
        </div>
        {%- elif publication.description_encoding == "html_from_rst" %}
        <div class='pub-descr'>
            <div class='pub-descr-content rst-descr'>{{publication.description|safe}}</div>
        </div>
        {% endif %}
    {% endif %}
    
</div>